@using BookRateNetCore.Client.Components.Dialogs
@using BookRateNetCore.Shared.Dtos
@using BookRateNetCore.Shared.Models
@using System.ComponentModel.DataAnnotations;
@using BookRateNetCore.Shared.Models
@using BookRateNetCore.Shared.Services
@using MudBlazor
@using BookRateNetCore.Client.Components.Objects;


@inject IDialogService DialogService
@inject IBookService BookService

@inject HttpClient httpClient

@inject NavigationManager NavigationManager

@page "/BookDetails"





<div Style="display: flex; margin: 0; width: 100%; height: 100%; box-sizing: border-box;">
    <!-- Left side for image holder -->


    <div Style="margin-top: 20px; width: 100%;">
        <CascadingValue Value="ListImage">
            <ImageObject></ImageObject>
        </CascadingValue>
    </div>




    <!-- Right side for form -->
    <div Style="display: flex; flex-direction: column; width: 65%; margin: 5px 10px; margin-right:60px; padding: 10px; box-sizing: border-box; height: 100%; justify-content: space-between;">
        <div>
            <MudText Style="text-align:center; font-size:36px; letter-spacing:5px; font-style:oblique;">Add book</MudText>
        </div>
        <div Style="margin-top:30px;">
            <!-- Flexbox container for Title and Select -->
            <div Style="display: flex; gap: 10px; margin-bottom: 20px;">
                <MudTextField @bind-Value="model.Title" T="string" Label="Title" Variant="Variant.Filled" Style="width: 600px;" />
                <MudTextField @bind-Value="model.Publisher" T="string" Label="Publisher" Variant="Variant.Filled" Style="width: 600px;" />
            </div>

            <div Style="display: flex; gap: 10px; margin-bottom: 40px;">
                <MudTextField @bind-Value="model.Author" T="string" Label="Author" Variant="Variant.Filled" Style="width: 600px; " />
                <MudDatePicker @bind-Date="model.PublishDate" Label="Publication date" />
                <MudTextField @bind-Value="model.Pages" T="int" Label="Page Count" Variant="Variant.Filled" Style="width: 100px; " />

                <MudSelect T="string" Label="Category" Variant="Variant.Filled" Style="width: 200px; ">
                    @foreach (var category in CategoryList)
                    {
                        <MudSelectItem Value="@category.Name">@category.Name</MudSelectItem>
                    }
                </MudSelect>

            </div>

            <div style="margin-top:60px;">
                <MudTextField Label="Description" @bind-Value="model.Description" For="@( () => model.Description )" Lines="12" />
            </div>



        </div>

        <div Style="display: flex; justify-content: flex-end; align-items: center; margin-top: 90px; margin-right:40px;">
            <MudText Style="margin-right: 20px; font-size:22px;">Your Rating:</MudText>
            <MudRating ReadOnly="false" @bind-SelectedValue="model.Rate" Size="Size.Large" />
        </div>


        <div Style=" margin-top: 80px; display: flex; justify-content: space-between; align-items: center; padding: 10px;">
            <!-- Przycisk po lewej stronie -->
            <MudButton Variant="Variant.Filled" Color="Color.Warning" StartIcon="@Icons.Material.Filled.Visibility" OnClick="ShowDetails" Style="width: 160px; height:60px;">
                Preview
            </MudButton>

            <!-- Przycisk po prawej stronie -->
            <div Style="display: flex; gap: 10px;">
                <MudButton Variant="Variant.Filled" Color="Color.Primary" StartIcon="@Icons.Material.Filled.Add" Style="width: 160px; height:60px;">
                    Submit
                </MudButton>

                <MudButton Variant="Variant.Filled" Color="Color.Secondary" StartIcon="@Icons.Material.Filled.Cancel" Style="width: 160px; height:60px;" @onclick="Cancel">
                    Cancel
                </MudButton>
            </div>
        </div>
    </div>
</div>




@code {
    private bool showColor = true;

    private NewBookDto model = new NewBookDto();
    private List<CategoryDto> CategoryList = new List<CategoryDto>();

    protected override async Task OnInitializedAsync()
    {
        CategoryList = await BookService.GetCategories();
    }

    //this class is used for storing the image and information about it
    private ObjectImageList ListImage = new ObjectImageList();           //pass as cascading parameter to ImageObject

    public class ObjectImageList
    {
        public List<ImageInfo> ImageList { get; set; } = new List<ImageInfo>();



        public void ResetCoverImage()
        {
            //reset all images as not cover
            foreach (var imageInfo in ImageList)
            {
                imageInfo.IsAsCover = false;
            }
        }

        //walk around for fix the bug and obtain the cover image from the list
        public byte[] GetCoverImage()
        {
            foreach (var imageInfo in ImageList)
            {
                if (imageInfo.IsAsCover)
                    return imageInfo.Image;
            }
            return null;
        }


        public class ImageInfo
        {
            public byte[]? Image { get; set; }
            public bool IsAsCover { get; set; } = false;
        }
    }


    // ==================================  for form ==============================================
    [CascadingParameter]
    MudDialogInstance MudDialogE { get; set; }

    internal class NewBookForm
    {
        [Required]
        public string Title { get; set; } = "";
        public string? Description { get; set; } = "";
        public string? Author { get; set; } = "";
        public int Rate { get; set; }
        public byte[]? CoverImage { get; set; }

    }

    private void Refresh()
    {
        StateHasChanged();
    }

    private void Cancel()
    {
        MudDialogE.Cancel();
    }

    private void Submit(EditContext context)
    {
        if (context.Validate())
        {
            MudDialogE.Close<Book>(new Book
                {
                    Author = model.Author,
                    Description = model.Description,
                    Rate = model.Rate,
                    Title = model.Title,
                    //CoverImage = tempCoverImage

                });
        }
    }


    private async Task ShowDetails()
    {
        Book book = new Book
            {
                Title = model.Title,
                Author = model.Author,
                Description = model.Description,
                Rate = model.Rate,
                Publisher = model.Publisher,
                PublishDate = model.PublishDate,
                CoverImage = ListImage.GetCoverImage(),  // Get cover image from the list
                Pages = model.Pages
            };

        List<BookImage> Images = new List<BookImage>();

        foreach (var image in ListImage.ImageList)
        {
            Images.Add(new BookImage(image.Image, book.Id));  // Przypisanie BookId
        }

        book.Images = Images;

        var parameters = new DialogParameters<BookDetailsDialog>
        {
            { x => x.Book, book }
        };

        var options = new DialogOptions() { CloseButton = true, NoHeader = true };
        // var options = new DialogOptions() { CloseButton = true, MaxWidth = MaxWidth.ExtraSmall };
        await DialogService.ShowAsync<BookDetailsDialog>("Book details", parameters, options);


        await httpClient.PostAsJsonAsync<Book>($"api/Book/AddBook", book);


    }


}
